
.cart_item-info img{
    width: 100px;
    height: 100px;
    object-fit: cover;

}

.cart_product-title{
    font-size: 0.8rem;
    font-weight: 600;

}

.cart_product-price{
    font-size: 0.9rem;
}

.cart_product-price span{
    font-size: 1rem;
    font-weight: 600;
    color: #df2020;

}

.increase_decrease-btn{
    background: #fde4e4;
    padding: 2px 5px;
    border-radius: 5px;
}

.increase_btn, .decrease_btn{
    cursor: pointer;

}

.delete_btn{
    font-size: 1.1rem;
    font-weight: 600;
}